<html>
<head>
	<title>Fortune Cookie API</title>
	<link rel="stylesheet" href="style/bootstrap.min.css">
	<link rel="stylesheet" href="style/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
	<h4>Fortune Cookie API</h4>

	<p>Alive for <em>{{.}}</em>
	</div>
</body>
</html>